@model ElcheEventManager.Models.db.Category

@{
    ViewBag.Title = "Eliminar categoría";
}

<h2>Categoría</h2>
<br>
<h4>Estás seguro que deseas eliminar?</h4>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-outline-danger m-auto" /> 
            @Html.ActionLink("Lista categorias", "Index", null, new { @class = "btn btn-outline-dark" })
        </div>
    }
</div>
