@model ElcheEventManager.Models.db.Status

@{
    ViewBag.Title = "Eliminar Estado";
}

<h2>Estado</h2>
<br />
<h3>Estás seguro que deseas eliminar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> 
            @Html.ActionLink("Lista de estados", "Index", null, new { @class = "btn btn-outline-dark" })
        </div>
    }
</div>
