@{
    ViewBag.Title = "Confirmar contraseña olvidada";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Consulta tu correo electrónico para restablecer tu contraseña.
        </p>
    </div>
</main>
