@{
    ViewBag.Title = "Confirmación de contraseña restablecida.";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Tú contraseña ha sido restablecida. Por favor @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</main>
