@{
    ViewBag.Title = "Página principal";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="title">Gestor de Eventos de Elche</h1>
        <p class="lead">Es una página web diseñada para facilitar la gestión de los eventos de nuestra ciudad.</p>        
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="tecnologyTitle">
            <h2 id="gettingStartedTitle">Tecnología</h2>
            <p>
                El Gestor de Eventos de Elche esta basado en ASP.NET MVC que te proporciona una poderosa manera, mediante plantillas, de crear sitios Web dinámicos
                que permiten una separación clara de los patrones mientras ofrece un control total sobre el marcado para un desarrollo ágil y agradable.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="orientbyTitle">
            <h2 id="librariesTitle">Orientada</h2>
            <p>
                Esta aplicación está orientada al sistema de trabajo del Ayuntamiento de Elche, siguiendo sus modelos de trabajos para la gestión de eventos.
                Pero puede ser facilmente adaptable a cualquier institución pública o privada que requiera de sus servicios.
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="propTitle">
            <h2 id="hostingTitle">Portable, rápida y sencilla</h2>
            <p>Puedes facilmente acceder a la aplicación desde cualquier lugar, permitiendo así una gestión rápida y sencilla de los eventos.</p>
        </section>
    </div>
</main>